


		/* Nav This page is part of the main.css, but has a modification if a person is logged in so that the tabs at the top are smaller*/

			#nav  
            {
                margin: 0;
                padding: 0;
            }
            #nav ul
            {margin: 0;
             padding: 0;
             line-height: 30px
            }
            #nav li{
                margin: 0;
                padding: 0;
                list-style: none;
                float: right;
                position: relative;
                
            }
            #nav ul li a {
                text-align: center;
                text-decoration: none;
                height: 30px;
                width: 150px;
                display: block;
                color: #000;
            }
            #nav ul ul{
                position: absolute;
                visibility: hidden;
                top: 30px;
                
            }
            #nav ul li:hover ul{
             visibility: visible;   
            }
			