.titleannouncement{
    margin: 0 0 0 0;
    border: 0;
    padding: 0 0 0 0;
}
.individualannouncement{
    margin: 0 0 0 0;
    border: 0;
    padding: 0 0 0 0;
    margin-left: 50px;
    
}
.link{
    margin-left: 50px;
}
input[type=checkbox] {
  /* All browsers except webkit*/
  float: left;
  transform: scale(4);
 margin: 0;
  /* Webkit browsers*/
  -webkit-transform: scale(4);
}