.titleannouncement{
    margin: 0 0 0 0;
    border: 0;
    padding: 0 0 0 0;
}
.individualannouncement{
    margin: 0 0 0 0;
    border: 0;
    padding: 0 0 0 0;
    margin-left: 50px;
    
}
.link{
    margin-left: 50px;
}
input[type=checkbox] {
  transform: scale(2);
  /* Webkit browsers*/
  -webkit-transform: scale(2);
}
.table_announcement{
   padding: 0 0 0 0;
   margin: 0 0 0 50px;
    table-layout:fixed; width:300px;
    height: 50px;
}
th {
    border: 1px solid #000;
}
td{
    border: 1px solid #000;
}